*{box-sizing:border-box;}
body{color:#333;font-size:14px;}
body, button, input, select, textarea{font-family:sans-serif;}
input{padding:1px 3px;}
a, a:link, a:visited, a:hover, a:active{color:#333;}
.wrapper{max-width:400px;margin:0 auto;}
.hidden, .login-to-access{display:none;}
h1{align-items:center;display:flex;justify-content:space-between;}
h1 .version{font-size:12px;font-weight:normal;}
form dl.form-inputs{display:flex;flex-wrap:wrap;}
form dl.form-inputs > dt{flex-grow:1;margin:1em 0 0 0;width:33%;}
form dl.form-inputs > dt label{display:block;}
form dl.form-inputs > dd{flex-grow:1;margin:1em 0 0 0;width:66%;}
form dl.form-inputs input, form dl.form-inputs .input{width:100%;}
form button[type=submit], .full-width-button{font-size:20px;height:50px;width:100%;}
.full-width{width:100%;}
#welcome{text-align:right;}
#breadcrumb, #breadcrumb li{list-style:none;}
#breadcrumb{display:flex;padding:0;}
#breadcrumb li.link:after{content:"\00bb";margin:0 .5em;}
.toolbar{text-align:right;}
.download-grid{display:grid;grid-gap:1em;grid-template-columns:1fr 1fr;}
kbd{border:1px solid #ccc;border-radius:3px;display:inline-block;font-size:12px;height:20px;line-height:20px;padding:0 5px;}
